<%= form_for @beca do |f| %>

  <% if @beca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beca.errors.count, "error") %> prohibited this beca from being saved:</h2>

      <ul>
      <% @beca.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :título %><br />
    <%= f.text_field :titulo, :required => true, :placeholder => 'Escriba el título de la beca' %>
  </div>
  <div class="field">
    <%= f.label :institución %><br />
    <%= f.text_field :institucion, :required => true, :placeholder => 'Escriba el nombre de la institucion/universidad que brinda la beca' %>
  </div>
  <div class="field">
    <%= f.label :duración %><br />
    <%= f.text_field :duracion, :required => true, :placeholder => 'Escriba la duración de la beca'%>
  </div>
  <div class="field">
    <%= f.label :periodo %><br />
    <%= f.text_field :periodo, :required => true, :placeholder => 'Escriba a partir de que período institucional empieza la beca' %>
  </div>
  <div class="field">
    <%= f.label :programa %><br />
    <%= f.text_field :programa, :placeholder => 'Escriba el nombre del programa correspondiente a la beca' %>
  </div>
  <div class="field">
    <%= f.label :modalidad %><br />
    <%= f.text_field :modalidad, :required => true, :placeholder => 'Escriba la modalidad  para la cual se brinda la beca' %>
  </div>
  <div class="field">
    <%= f.label :idioma %><br />
    <%= f.text_field :idioma, :required => true, :placeholder => 'Escriba el requisito mínimo en idiomas que solicita la beca' %>
  </div>
  <div class="field">
    <%= f.label :beneficios %><br />
    <%= f.text_area :beneficios, :required => true, :placeholder => 'Escriba los beneficios que brinda la beca', :size => "62x10"%>
  </div>
  <div class="field">
    <%= f.label :requisitos %><br />
    <%= f.text_area :requisitos, :required => true, :placeholder => 'Escriba los requisitos necesarios para optar por la beca', :size => "62x10"%>
  </div>
  <div class="field">
    <%= f.label :fecha_límite %><br />
    <%= f.date_select :fch_limite %>
  </div>
  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
