<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				<h2>Acciones</h2>
				<ul class="style2">
					<li class="first"><a href="/becas/new/">Crear una beca</a></li>					
				</ul>
			</div>
			<div id="fbox2">
				<h2>Becas disponibles</h2>
				
<table class="gridtable">
  <tr>
    <th>Título</th>
    <th>Institución</th>
    <th>Duración</th>
    <th>Periodo</th>
    <th>Acciones</th>
  </tr>

<% @becas.each do |beca| %>
  <tr>
    <td><%= beca.titulo %></td>
    <td><%= beca.institucion %></td>
    <td><%= beca.duracion %></td>
    <td><%= beca.periodo %></td>
    <td><%= link_to 'Mostrar detalles', beca %> | <%= link_to 'Modificar', edit_beca_path(beca) %> | <%= link_to 'Eliminar', beca, method: :delete, data: { confirm: 'Desea borrar la beca?' } %></td>
  </tr>
<% end %>
</table>

<br />		
			</div>
		</div>
	</div>
</div>

