<%= form_for(@experiencium) do |f| %>
  <% if @experiencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiencium.errors.count, "error") %> prohibited this experiencium from being saved:</h2>

      <ul>
      <% @experiencium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, :required => true, :placeholder => 'Escriba su nombre' %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo, :required => true, :placeholder => 'Escriba el título de su experiencia' %>
  </div>
  <div class="field">
    <%= f.label :comentario %><br />
    <%= f.text_area :comentario, :required => true, :placeholder => 'Escriba su comentario' %>
  </div>
  <div class="field">
    <%= f.label :periodo %><br />
    <%= f.text_field :periodo, :required => true, :placeholder => 'Escriba el período en el que estuvo fuera del país' %>
  </div>
  <div class="field">
    <%= f.label :pais %><br />
    <%= f.text_field :pais, :required => true, :placeholder => 'Escriba el país que visitó' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
