<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				<h2>Acciones</h2>
				<ul class="style2">
					<li class="first"><a href="/sitios/new/">Crear un nuevo sitio</a></li>					
				</ul>
			</div>
			<div id="fbox2">
				<h2>Sitios disponibles</h2>
				<p>Sitios de organismos e instiuciones donde podrá encontrar información adicional.</p>
				
<table class="gridtable">
  <tr>
    <th>Nombre</th>
    <th>Enlace</th>
    <th>Acciones</th>
  </tr>

<% @sitios.each do |sitio| %>
  <tr>
    <td><%= sitio.nombre %></td>
    <td><%= href=sitio.enlace %></td>
	 <td><%= link_to 'Mostrar detalles', sitio %> | <%= link_to 'Modificar', edit_sitio_path(sitio) %> | <%= link_to 'Eliminar', sitio, method: :delete, data: { confirm: 'Desea borrar el sitio?' } %></td>
  </tr>
<% end %>
</table>
<br />		
			</div>
		</div>
	</div>
</div>

