<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				<h2>Acciones</h2>
				<ul class="style2">
					<li class="first"><a href="/tipo_convenios/new/">Crear un nuevo tipo de convenio</a></li>					
				</ul>
			</div>
			<div id="fbox2">
				<h2>Tipos de convenios disponibles</h2>
				
<table class="gridtable">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th></th>    
  </tr>

<% @tipo_convenios.each do |tipo_convenio| %>
  <tr>
    <td><%= tipo_convenio.nombre %></td>
    <td><%= tipo_convenio.descripcion %></td>
    <td><%= link_to 'Mostrar detalles', tipo_convenio %> | <%= link_to 'Modificar', edit_tipo_convenio_path(tipo_convenio) %> | <%= link_to 'Eliminar', tipo_convenio, method: :delete, data: { confirm: 'Desea eliminar el tipo de convenio?' } %></td>
  </tr>
<% end %>
</table>

<br />		
			</div>
		</div>
	</div>
</div>

