<h1>Listing tipo_convenios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_convenios.each do |tipo_convenio| %>
  <tr>
    <td><%= tipo_convenio.nombre %></td>
    <td><%= tipo_convenio.descripcion %></td>
    <td><%= link_to 'Show', tipo_convenio %></td>
    <td><%= link_to 'Edit', edit_tipo_convenio_path(tipo_convenio) %></td>
    <td><%= link_to 'Destroy', tipo_convenio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo convenio', new_tipo_convenio_path %>
